{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            Customers this week
          </button>
        </div>
      </div>

      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

      <h2>Customers</h2><a href="http://127.0.0.1:8000/add/" target="_blank" class="btn btn-outline-success">
                        Add Customer
                    </a>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Customer Name</th>
              <th scope="col">Customer's Account</th>
              <th scope="col">Account Number</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="cus">
          {% for customer in cus%}
            <tr>
              <td class="customer">{{ customer.account_holder_name }}</td>
              <td>{{ customer.account_name }}</td>
              <td>{{ customer.account_number }}</td>
              <td><a href="{% url 'customer-profile' customer.pk %}" target="_blank" class="btn btn-outline-success">
                        More Details
                    </a>
                </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
{% endblock %}
</body>
</html>